h1 {
  color:#40bdff;
  font-family: helvetica, sans-serif;
  }

h2 {
  color:#40bdff;
  font-family: helvetica, sans-serif;
  }

h3 {
    color:#40bdff;
    font-family: helvetica, sans-serif;
  }

p {
  color: #40bdff;
  font-family: helvetica, sans-serif;
  }

ul {
  color:#40bdff;
  font-family: helvetica, sans-serif;
  }

body {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }

.button {
    color: #40bdff;
    background-color: white;
    font-size: 100%;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid #40bdff;
    width: 100%;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
  }

.footer {
    text-align: center;
    margin: 10%;
  }